# My env
.env

# Pycache files
__pycache__

# Handlers
.handler-saves

# My scratch file
scratch.py

# Ssh folder
ssh-key

# DS_Store
.DS_Store

# Virtual environment
.venv

# Tests folder
tests

# Pytest cache
.pytest_cache

# setup info
crypto_bot.egg-info
